// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　認証系　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.p-authForm {
  width: 50%;
  margin: 0 auto;
  background-color: $color_light100;
  position: relative;
  top: $space_10l;
  &__container {
    width: 50%;
    margin: 0 auto;
    padding: $space_10l 0;
    box-sizing: border-box;
    .p-registerLink {
      display: block;
      text-align: right;
    }
  }
}