
.p-headerItem {
  height: 100%;
  position: relative;
  &__logo {
    display: inline-block;
    left: $space_3l;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 70px;
    .p-topLink {
      display: inline-block;
      &__img {
        width: 100%;
      }
    }
  }
  &__menu {
    display: inline-block;
    position: absolute;
    right: $space_3l;
    transform: translateY(-50%);
    top: 50%;
    .p-menuBtn {
      border-radius: 8px;
      border: 1px solid $color_sub;
      padding: $space_s $space_xl;
      box-sizing: border-box;
    }
    .p-headerMenu {
      display: none;
    }
  }
}

