@import url(https://fonts.googleapis.com/css?family=Nunito);/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: black;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*:focus {
  outline: none;
}

/* ---------------------------------
variables
--------------------------------- */

/* ---------------------------------
mixin
--------------------------------- */

/* ---------------------------------
base
--------------------------------- */

body,
html {
  width: 100%;
  color: #272B2D;
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  counter-reset: my-counter;
}

.wrapper--main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .wrapper--main {
    max-width: 100vw;
  }
}

p,
a {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3.2rem;
  color: #F8FCFF;
}

h1 a {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3.2rem;
  color: #F8FCFF;
}

h2 {
  font-size: 2.4rem;
  color: white;
}

h3 {
  font-size: 2.8rem;
  color: white;
  font-weight: bold;
}

.l-header {
  background-color: white;
  border-bottom: solid 1px #ffc517;
  height: 60px;
  width: 100%;
}

.l-main {
  background-color: #FFEBCD;
  height: 1500px;
}

.c-btn {
  background-color: #FFEBCD;
  border: none;
  border-style: none;
  border-radius: 5px;
  border-bottom: solid 3px #666666;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.c-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.c-btnEntry {
  float: right;
  width: 25%;
  padding: 15px;
  margin-bottom: 5px;
  border-bottom: solid 3px #666666;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.c-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.c-btnRegister {
  margin: 5px 0 10px 0;
  border-radius: 8px;
  background-color: #ffc517;
  padding: 10px 0;
  letter-spacing: 0.1em;
  color: white;
  font-size: 1.4rem;
}

.c-editDelteBtn {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 15px 40px;
  box-sizing: border-box;
  background-color: white;
  border: solid 1px #C9D0D6;
  border-radius: 5px;
  box-shadow: none;
  transition: background-color 0.6s;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .c-editDelteBtn {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 767px) {
  .c-editDelteBtn {
    padding: 5px 15px;
    font-size: 1rem;
    margin-right: 15px;
    margin-top: 15px;
  }
}

.c-editDelteBtn:hover {
  background-color: #999999;
}

.c-formTitle {
  box-sizing: border-box;
  font-size: 2.2rem;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-formTitle {
    font-size: 1.2rem;
  }
}

.c-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.c-form__heading {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-form {
    width: 80%;
  }
}

.c-form__input {
  box-sizing: border-box;
  margin: 5px 0 20px 0;
  padding: 10px 0;
  padding-left: 5px;
  border: solid 1px #C9D0D6;
  border-radius: 8px;
}

.c-form__label {
  margin-top: 20px;
}

.c-form__label #c-formCheck {
  vertical-align: bottom;
}

.c-form__passlink {
  text-align: right;
}

.c-form__comment {
  text-align: right;
  margin: 10px 15px;
}

@media screen and (max-width: 767px) {
  .c-form__comment {
    text-align: left;
  }
}

.c-passLink {
  font-size: 1.2rem;
  position: relative;
}

.c-passLink::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: #272B2D;
  transition: all 0.3s ease 0s;
}

.c-passLink:hover:after {
  width: 100%;
}

.c-pagenation {
  display: flex;
  justify-content: center;
}

.c-pagenation__item {
  padding: 0 10px;
  margin: 0 10px;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: solid 1px #E7EAEC;
}

.c-pagenation__item .c-pageLink {
  color: #8B98A2;
}

@media screen and (max-width: 767px) {
  .c-pagenation__item {
    margin: 0 5px;
  }
}

.p-authForm {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: 100px;
  border-radius: 8px;
}

.p-authForm__container {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}

.p-authForm__container .p-authSns {
  width: 200%;
  padding-right: "-100px";
  text-align: center;
  padding-bottom: 60px;
  box-sizing: border-box;
  border-bottom: solid 1px #E7EAEC;
  position: relative;
  left: -50%;
  margin-bottom: 60px;
}

.p-authForm__container .p-authSns__Btn {
  color: white;
  background-color: #87CEEB;
  border-radius: 10px;
  font-size: 1.8rem;
  width: 50%;
  padding: 20px 0;
}

.p-authForm__container .p-registerLink {
  display: block;
  text-align: right;
}

.p-headerItem {
  height: 100%;
  position: relative;
}

.p-headerItem__logo {
  display: inline-block;
  left: 30px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 70px;
}

.p-headerItem__logo .p-topLink {
  display: inline-block;
}

.p-headerItem__logo .p-topLink__img {
  width: 100%;
}

.p-headerItem__menu {
  display: inline-block;
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  top: 50%;
}

.p-headerItem__menu .p-menuBtn {
  color: #ffc517;
  border-radius: 8px;
  border: 1px solid #ffc517;
  padding: 5px 20px;
  box-sizing: border-box;
}

.p-headerItem__menu .p-headerMenu {
  display: none;
}

.p-startWrap {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.p-startWrap__img {
  display: block;
  margin: 0 auto;
}

.p-startWrap__content {
  background: white;
  position: relative;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 70px 0;
  box-sizing: border-box;
}

.p-startWrap__content:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
}

.p-startWrap__content .p-startComment {
  width: 50%;
  margin: 0 auto;
}

.p-startWrap__content .p-startForm {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.p-startWrap__content .p-startForm__rule {
  font-size: 0.8rem;
}

.p-startWrap__content .p-startForm__btn {
  display: block;
  width: 100%;
  background-color: #ffc517;
  color: white;
  font-size: 1.6rem;
  padding: 15px 0;
  box-sizing: border-box;
  margin-top: 15px;
}

.p-mypageWrap {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 60px;
}

.p-mypageWrap__post,
.p-mypageWrap__answer,
.p-mypageWrap__prof {
  margin-bottom: 30px;
}

.p-mypageWrap__post .p-heading,
.p-mypageWrap__answer .p-heading,
.p-mypageWrap__prof .p-heading {
  padding-bottom: 6px;
  box-sizing: border-box;
  border-bottom: solid 1px #8B98A2;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.p-mypageWrap__post .p-postItem,
.p-mypageWrap__post .p-answerItem,
.p-mypageWrap__answer .p-postItem,
.p-mypageWrap__answer .p-answerItem,
.p-mypageWrap__prof .p-postItem,
.p-mypageWrap__prof .p-answerItem {
  margin-bottom: 10px;
  background: white;
  padding: 8px 16px;
  box-sizing: border-box;
  position: relative;
  height: 60px;
  border-radius: 8px;
}

.p-mypageWrap__post .p-postItem__icon,
.p-mypageWrap__post .p-answerItem__icon,
.p-mypageWrap__answer .p-postItem__icon,
.p-mypageWrap__answer .p-answerItem__icon,
.p-mypageWrap__prof .p-postItem__icon,
.p-mypageWrap__prof .p-answerItem__icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 1.6rem;
}

.p-mypageWrap__post .p-postMore,
.p-mypageWrap__post .p-answerMore,
.p-mypageWrap__answer .p-postMore,
.p-mypageWrap__answer .p-answerMore,
.p-mypageWrap__prof .p-postMore,
.p-mypageWrap__prof .p-answerMore {
  text-align: right;
}

.p-mypageWrap__prof {
  overflow: hidden;
}

.p-mypageWrap__prof .p-prof {
  margin-top: 50px;
}

.p-mypageWrap__prof .p-prof .p-profImgContainer {
  height: calc( 100px * 2 );
  margin: 0 auto;
  margin-bottom: 60px;
}

.p-mypageWrap__prof .p-prof .p-profImgContainer__airDrop {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 100%;
  position: relative;
  text-align: center;
  border: solid 1px #C9D0D6;
  border-radius: 100px;
  line-height: 200px;
  background-color: white;
}

.p-mypageWrap__prof .p-prof .p-profImgContainer__airDrop .p-userIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  opacity: 0.1;
  font-size: 8rem;
}

.p-mypageWrap__prof .p-prof .p-profImgContainer__airDrop .p-profImg {
  opacity: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.p-mypageWrap__prof .p-prof .p-profImgContainer__msg {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.p-mypageWrap__prof .p-prof__heading {
  font-size: 1.4rem;
}

.p-mypageWrap__prof .p-prof__name,
.p-mypageWrap__prof .p-prof__email {
  display: block;
  width: 100%;
  /* border: none; */
  /* padding: 0px; */
  border: none;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 1.8rem;
  letter-spacing: 6px;
  border-radius: 10px;
  margin: 10px 0px;
}

.p-mypageWrap__prof .p-prof--err {
  color: #FF0A0A;
  margin-bottom: 15px;
}

.p-mypageWrap__prof .p-prof__btn {
  display: block;
  width: 100%;
  background-color: #ffc517;
  color: white;
  border: none;
  padding: 15px 0;
  margin-bottom: 10px;
  box-shadow: none;
  margin-top: 30px;
}

.p-mypageWrap__prof .p-passChange {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  float: right;
  margin-top: 20px;
}

.p-questWrap {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.p-questWrap__img {
  display: block;
  margin: 0 auto;
}

.p-questWrap__content {
  background: white;
  position: relative;
  margin: 1.5em 0;
  min-width: 120px;
  max-width: 100%;
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 25px 0;
  box-sizing: border-box;
}

.p-questWrap__content:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
}

.p-questWrap__content .p-questComment {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.p-questWrap .p-answerForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.p-questWrap .p-answerForm__btn {
  margin: 10px 0;
  padding: 15px 0;
  font-size: 1.8rem;
  font-weight: bold;
  border: solid 2px #8B98A2;
}

.p-questWrap__back {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.p-resultWrap {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.p-resultWrap__img {
  display: block;
  margin: 0 auto;
}

.p-resultWrap__content {
  background: white;
  position: relative;
  margin: 1.5em 0;
  min-width: 120px;
  max-width: 100%;
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 25px 0;
  box-sizing: border-box;
}

.p-resultWrap__content:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
}

.p-resultWrap__content .p-resultComment {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.p-resultWrap__property {
  margin-bottom: 30px;
}

.p-resultWrap__property .p-resultHeading {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.p-resultWrap__property .p-propertyImg {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.p-resultWrap__property .p-propertyImg__img {
  width: 50px;
}

.p-resultWrap__flow {
  margin-bottom: 30px;
}

.p-resultWrap__flow .p-resultHeading {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.p-resultWrap__flow .p-flowList {
  font-size: 1.6rem;
}

.p-resultWrap__flow .p-flowText {
  display: inline-block;
  margin-bottom: 30px;
}

.p-resultWrap__last {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.p-resultWrap__img2 {
  width: 10%;
  height: 60px;
  float: left;
}

.p-resultWrap__content2 {
  position: relative;
  top: 10px;
  display: inline-block;
  margin: 0 0 40px 15px;
  padding: 7px 10px;
  box-sizing: border-box;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: white;
  width: calc(90% - 20px);
  border-radius: 8px;
}

.p-resultWrap__content2 .p-resultComment2 {
  margin: 0;
  padding: 0;
}

.p-resultWrap__content2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid white;
}

.p-resultWrap__share {
  width: 100%;
  background-color: #ffc517;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

.p-resultWrap__again {
  text-align: center;
}

.p-resultWrap__again .p-againLink {
  padding-bottom: 3px;
  box-sizing: border-box;
  border-bottom: solid 1px #8B98A2;
}

