// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　ヘッダー　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.l-header {
  background-color: $color_main;
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }

